/* Home.module.css */
.homeContainer {
  width: 100%;
  min-height: 100vh;
  background-image: url('../images/home.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 600px) {
    background-image: url('../images/mobile-1.png');
    background-position: bottom;
  }
}


.remainingSpace {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
}

.emptySpace {
  flex: 1;
  display: flex;
  align-items: center;
}

.singer {
  font-size: clamp(20px, 100px, 10vw);
  margin: 2.5vw;
  color: white;
  width: min-content;
  padding-right: 30px;
  border-right: 10px solid white;

  @media only screen and (max-width: 500px) {
    padding-right: 4px;
  }
}
