.divdiv{
  display: flex;
  flex-direction: row;
}
html {
  scroll-behavior: smooth;
}
body{
  background: radial-gradient(50% 50%at 50% 50%, #5c6376, #353844);
overflow: hidden;
}

.eventscalendar {
  width: 400px;
   /* Lighter blue background for calendar */
  overflow-y: auto;
  height: 100vh; /* Adjust as needed */
  top: 150px;
  position: absolute;
  
}
.dateandven{
  font-size: 20px;
  margin-top: 20%;
}
.column{
  display: flex;
  flex-direction: column;
  padding-left:100px;


}
.detailsev{
  max-width: 50%; /* Adjust as needed */

  /* Enable word wrapping */
  word-wrap:break-word;

  /* Ensure overflow is managed */
  overflow-wrap:break-word;
}

.column h2{
  font-size: 100px;
  padding:0 20px 20px 20px
}
.eventdetails{
  color: #ffffff;
  position: relative;
  top: 300px;
  left: 30%;
  display: flex;
  flex-direction: row;
  font-size: 18px;

}
.date {
  margin-bottom: 5px;
  color: #95a5a6;
  padding:10px/* Grey color for the date */
}

.event {
  background-color: #353844; /* Dark grey/blue for button background */
  border: none;
  margin: 10px ;
  padding: 20px;
  transition: background-color 0.3s ease;
  color: white; /* White text color */
  width: calc(100% - 40px);
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
}

.event:hover {
  background-color: white; /* White background on hover */
  color: #2c3e50; /* Dark blue text color on hover */
  cursor: pointer;
}


@media (min-width:1440px){
  .divdiv{
    display: flex;
    flex-direction: row;
  }
  html {
    scroll-behavior: smooth;
  }
  body{
  background: radial-gradient(50% 50%at 50% 50%, #5c6376, #353844);
  overflow: hidden;
  }
  
  .eventscalendar {
    width: 300px;
    overflow-y: auto;
    height: 100vh; /* Adjust as needed */
    top: 150px;
    position: absolute;
    
  }
  .dateandven{
    font-size: 20px;
    margin-top: 20%;
  }
  .column{
    display: flex;
    flex-direction: column;
    padding-left:100px;
  }
  .detailsev{
    max-width: 90%; /* Adjust as needed */
  
    /* Enable word wrapping */
    word-wrap: break-word;
  
    /* Ensure overflow is managed */
    overflow-wrap: break-word;
  }
  
  .column h2{
    font-size: 80px;
    padding:0 20px 40px 10px;
    padding-top: 80px;
  }
  .eventdetails{
    color: #ffffff;
    position: relative;
    top: 10px;
    left: 50%;
    display: flex;
    flex-direction: row;
    font-size: 10px;
  
  }
  .date {
    margin-bottom: 5px;
    color: #95a5a6;
    padding:10px/* Grey color for the date */
  }
  
  .event {
    background-color: #353844; /* Dark grey/blue for button background */
    border: none;
    margin: 10px ;
    padding: 20px;
    transition: background-color 0.3s ease;
    color: white; /* White text color */
    width: calc(100% - 20px);
    box-sizing: border-box;
    text-align: left;
    font-size: 18px;
  }
  
  .event:hover {
    background-color: white; /* White background on hover */
    color: #2c3e50; /* Dark blue text color on hover */
    cursor: pointer;
  }
}