.adithyanarayananshankar41Icon {
  position: absolute;
  top: 30.75px;
  left: 51px;
  width: 0;
  height: 0;
  object-fit: cover;
}
.groupChild {
  position: absolute;
  top: -1.87px;
  left: 45.33px;
  border-right: 3.8px solid white;
  box-sizing: border-box;
  width: 3.75px;
  height: 100vh;
}

.vectorIcon1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.vectorIcon4 {
  position: absolute;
  height: 54.7%;
  width: 54.69%;
  top: 25.7%;
  right: 25.72%;
  bottom: 19.59%;
  left: 19.6%;
  overflow: hidden;
}

.basson {
  position: absolute;
  overflow: hidden;
}

.basson {
  text-decoration: none;
  top: 76.32px;
  left: 16.46px;
  width: 57.75px;
  height: 56.57px;
}

.vectorIcon11 {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 10px;
  overflow: hidden;
  transform: rotate(88.9deg);
}

.tabla {
  position: absolute;
  overflow: hidden;
}

.tabla {
  text-decoration: none;
  top: 200px;
  left: 79.41px;
  width: 55.2px;
  height: 68.21px;
  transform: rotate(88.9deg);
  transform-origin: 0 0;
}
.vectorIcon14{
  position: absolute;
  height: 99.89%;
  width: 79.47%;
  top: 0.07%;
  right: 0.01%;
  bottom: 0.05%;
  left: 20.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.tuba {
  position: absolute;
  overflow: hidden;
}
.tuba {
  text-decoration: none;
  top: 300.7px;
  left: 11.96px;
  width: 66.75px;
  height: 66.33px;
}
.vectorIcon21 {
  position: absolute;
  height: 42.39%;
  width: 45.21%;
  top: 49.14%;
  right: 86.48%;
  bottom: 8.47%;
  left: -31.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon21 {
  height: 100%;
  width: 100%;
  top: 20%;
  left: 10%;
}

.vectorIcon23 {
  height: 94.12%;
  width: 125.68%;
  top: 31.44%;
  right: 12.59%;
  bottom: -25.56%;
  left: -38.27%;
}
.frenchHorn {
  text-decoration: none;
  top: 400.51px;
  left: 27.58px;
  width: 61.38px;
  height: 63.89px;
  transform: rotate(21.56deg);
  transform-origin: 0 0;
}
.frenchHorn {
  position: absolute;
  overflow: hidden;
}

.vectorIcon31 {
  height: 99.95%;
  width: 105.63%;
  top: 6.23%;
  right: 1.83%;
  bottom: -6.18%;
  left: -7.46%;
}
.sitar,
.vectorIcon31 {
  position: absolute;
  overflow: hidden;
}
html {
  scroll-behavior: smooth;
}

.sitar {
  text-decoration: none;
  top: 540.25px;
  left: 16.32px;
  width: 62.96px;
  height: 68.92px;
  transform: rotate(4.54deg);
  transform-origin: 0 0;
}
.groupItem {
  position: absolute;
  top: 16.35px;
  left: calc(50% - 21.37px);
  background-color: white;
  width: 45.75px;
  height: 10.22px;
}
.aboutInner,
.groupWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 84.67px;
  height: 616px;
}
.aboutInner {
  top: 93px;
}
.about {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.vectorIcon1:hover{
  background-color: rgb(123, 181, 194);
}

@media (max-width:800px) {
  .groupWrapper{
    display: none;
  }
}