.education,
.nameOfDegree {
  position: absolute;
  line-height: 116.5%;
}
.education {
  top: 684px;
  left: 121px;
  font-size: 30.67px;
  letter-spacing: 0.06em;
  font-family: venus;
}
.nameOfDegree {
  top: 0;
  left: 3.49px;
  font-weight: 500;
}
.groupChild {
  position: absolute;
  top: 32.34px;
  left: -0.35px;
  border-top: 0.7px solid white;
  box-sizing: border-box;
  width: 190.7px;
  height: 0.7px;
}
.groupDiv,
.nameOfDegreeContainer,
.nameOfDegreeGroup,
.nameOfDegreeParent {
  position: absolute;
  top: 241.09px;
  left: 185.88px;
  width: 190px;
  height: 32.69px;
}
.groupDiv,
.nameOfDegreeContainer,
.nameOfDegreeGroup {
  top: 297.44px;
}
.groupDiv,
.nameOfDegreeContainer {
  top: 353.79px;
}
.groupDiv {
  top: 410.13px;
}
.aCoupleOf,
.div,
.nameOfDegree4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 116.5%;
}
.aCoupleOf,
.div {
  top: 46.43px;
  font-weight: 300;
}
.aCoupleOf {
  top: 110.71px;
  font-size: 18.57px;
  font-family: lato;
  display: inline-block;
  width: 390px;
}
.nameOfDegreeParent1 {
  position: absolute;
  top: 274px;
  left: 545px;
  width: 390px;
  height: 154.71px;
  font-size: 35.71px;
  font-family: subjectivity;
}
.rectangleDiv {
  top: 0;
  left: 0;
  background-color: white;
  width: 201.19px;
  height: 234.35px;
}
.groupChild1,
.rectangleDiv,
.rectangleParent {
  position: absolute;
  transform: rotate(3.5deg);
  transform-origin: 0 0;
}
.groupChild1 {
  top: 9.69px;
  left: calc(50% - 93.56px);
  background-color: gainsboro;
  width: 183.24px;
  height: 182.15px;
}
.rectangleParent {
  top: 156px;
  left: 1024.31px;
  width: 201.19px;
  height: 234.35px;
}
.groupChild2 {
  top: 0;
  left: 0;
  background-color: white;
  width: 201.19px;
  height: 234.35px;
}
.groupChild2,
.groupChild3,
.rectangleGroup {
  position: absolute;
  transform: rotate(13.5deg);
  transform-origin: 0 0;
}
.groupChild3 {
  top: 10.77px;
  left: 5.24px;
  background-color: gainsboro;
  width: 183.24px;
  height: 182.15px;
}
.rectangleGroup {
  top: 319.79px;
  left: 1214.37px;
  width: 201.19px;
  height: 234.35px;
}
.awardRecognition {
  margin-bottom: 0;
}
.awardRecognitionGoesHere {
  margin: 0;
  padding-left: 25px;
}
.awardRecognitionContainer {
  position: absolute;
  top: 473.29px;
  left: 545px;
  font-size: var(--font-inherit);
  line-height: 116.5%;
  font-weight: 300;
  font-family: var(--font-inherit);
}
.site13 {
  position: relative;
  background: radial-gradient(50% 50%at 50% 50%, #5c6376, #353844);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: 18.09px;
  color:white;
  font-family: quanta-grotesk-pro;
}
